apiclient/
bin/
certifi/
cachetools/
chardet/
google/
googleapiclient/
httplib2/
idna/
oauth2client/
pyans1/
pyans1_modules/
pydrive/
requests/
rsa/
uritemplate/
urllib3/

__pycache__/
*.zip
gcp_api_key.txt
client_id.json